@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: var(--font-padrao);
  background-color: #F1F1F1;
}

img{
  width: 100%;
}

.container{
  margin: 0 1rem 0 1rem;
}

:root{
  --font-padrao: 'Raleway', sans-serif;

  --font-size-padrao: 18px;
}

/* --------- HEADER --------- */
header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  background-color: black;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 1rem;
  font-size: var(--font-size-padrao);
}

header nav .menu{
  display: flex;
  align-items: center;
  gap: .5rem;
}

header nav .menu #btn-menu{
  cursor: pointer;
}


/* --------- BAR-LEFT --------- */
.barLeft{
  display: none;
  position: fixed;
  width: 300px;
  background-color: white;
}

.show{
  display: flex;
}


/* --------- BAR-RIGTH --------- */
.barRigth .Dashboard{
  padding-top: 3rem;
}








/* --------- DASHBOARD --------- */
.Dashboard h1{
  margin: 2rem 0 1rem 0;
  font-size: var(--font-size-padrao);
  font-weight: 600;
  font-family: var(--font-padrao);
}

.Dashboard .boxs-Dashboard .box{
  padding: 1.2rem 1rem 2rem ;
  color: white;
}

.Dashboard .boxs-Dashboard .box .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Dashboard .boxs-Dashboard .box .content 
.fa-comment,
.eye,
.fa-share-nodes,
.user
{
  font-size: 3rem;
}

.Dashboard .boxs-Dashboard .box .content span{
  font-size: 1.5rem;
}

.Dashboard .boxs-Dashboard .box p{
  font-size: 20px;
}

.messages{
  background-color: #F44336;
}

.views{
  background-color: #2196F3;
}

.shares{
  background-color: #009688;
}

.users{
  background-color: #FF9800;
}







@media(min-width: 600px){
  .barRigth .boxs-Dashboard{
    display: flex;
    gap: 1rem;
  }
}





@media(min-width: 992px){
  header nav{
    justify-content: end;
  }

  header nav .menu{
    display: none;
  }

  main{
    display: grid;
    grid-template-columns: 300px auto;

  }
    
  .barLeft{
    display: block;
  }

  

  .teste{
    justify-content: center;
  }

  .barRigth .boxs-Dashboard .box{
    width: 100%;
  }
}